* {
    margin: 0;
    padding: 0;
}

.main {
    width: 80%;
    margin: auto;
}

input[type=submit]:hover {
    cursor: pointer;
}

.button {
    background-color: white;
    border: 1px solid black;
    padding:15px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.change-page {
    text-decoration: none;
    color: #50a969;
    border: 2px solid #50a969;
}

.inputs {
    display: flex;
    justify-content: space-between;
}
.part-form {
    width: 47%;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #838383;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Redefinition du framework */
.row #login, #register {
    height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.tabs .tab a {
    color: #50a969;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #50a969;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(116, 255, 151, 0.2);
}

.tabs .indicator {
    background-color: #50a969;
}

.row .col.s3 {
    width: 50%;
}

.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
    color: rgba(58, 186, 89, 0.4);
}
/* --- */