<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Étudiant</title>
    <link rel="stylesheet" href="./web/css/pageEtudiant.css">
</head>
<body>
<div id="user">
    étudiant : {{.UserInfo.Login}}<br>
    mdp : {{.UserInfo.Password}}<br>
    prénom : {{.UserInfo.Prenom}}  nom : {{.UserInfo.Nom}}<br>
    mail : {{.UserInfo.Mail}}<br>
</div>
<button>
    <a href="pageEtudiant?logout">logout</a>
</button>
<br>
<div>
{{if eq .Defi_actuel.Num -1}}
        Il n'y a pas défi en cours.
{{else}}
    Défi actuel numéro {{.Defi_actuel.Num}}<br>
    {{if .Defi_sent}}
        Vous avez déjà rendu un script pour ce défi<br>
        {{if eq .Resultat_defi.Etat 1}}
            Votre script est correcte
        {{else}}
            Votre script est incorrecte
        {{end}}
    <br>
        Vous pouvez le modifier jusqu'au {{.Defi_actuel.Date_fin}}
    {{else}}
        Vous n'avez pas encore envoyé de script<br>
        Vous avez jusqu'au {{.Defi_actuel.Date_fin}} pour le rendre.
    {{end}}<br><br>
</div>

<br>
<form   enctype="multipart/form-data"  action="/pageEtudiant?upload" method="post">
    <input type="file" name="script_etu" required="required"/>
    <input type="hidden" name="token" value=" " />
    <input type="submit" value="upload"/>
</form>

<a href="/pageEtudiant?test">Tester son script</a><br>
<div class="res">
    <h1>{{.Msg_res}}</h1>
    <p>
        {{range .ResTest}}
            Test : {{.Test}} <br>
            {{if eq .Etat 1}}
                Vous avez réussi ce test
            {{else if eq .Etat 0}}
                Vous avez échoué ce test
            {{else if eq .Etat -1}}
                Il y a eu une erreur durant ce test
            {{end}}<br>
            Résultat de la correction : <br>
            {{range .Res_correction}}
                {{.Nom}} contient <br>
                {{.Contenu}}
            {{end}}<br>
            Résultat de de votre script : <br>
            {{range .Res_etu}}
                {{.}}<br>
            {{end}}<br>
            {{.Error_message}}
        {{end}}
        <br>
    </p>
</div>
{{end}}
</body>
</html>