<!DOCTYPE html>
<html lang="fr" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profil Étudiant | {{.UserInfo.Login}}</title>
    <link rel="stylesheet" href="./web/assets/css/pageEtudiant.css">
    <link rel="icon" type="image/png" href="./web/assets/images/logo.png" />
</head>
<body>
<div id="header">
    <h1>Page Etudiant</h1>
    <div id="logout">
        <a href="pageEtudiant?logout">Logout</a>
    </div>
</div>
<div class="main">
    <div class="info">
        <div class="left-side">
            <div id="user">
                <h2>Profil</h2>
                <p>{{.UserInfo.Prenom}} {{.UserInfo.Nom}} (<span id="id-etu">{{.UserInfo.Login}}</span>)
                </p>
                <p class="italic">{{.UserInfo.Mail}}</p>
            </div>
            <div id="content">
                {{if eq .Defi_actuel.Num -1}}
                <h2>Il n'y a pas défi en cours.</h2>
                {{else}}
                <h2>Défi actuel : Défi n°{{.Defi_actuel.Num}}</h2>
                {{if .Defi_sent}}
                <p>Vous avez déjà rendu un script pour ce défi.</p>
                {{if eq .Resultat_defi.Etat 1}}
                <p>Votre script est correct.</p>
                {{else}}
                <p>Votre script est incorrect.</p>
                {{end}}
                <p>Vous pouvez le modifier jusqu'au {{.Defi_actuel.Date_fin}}.</p>
                {{else}}
                <p>Vous n'avez pas encore envoyé de script pour ce défi. <br>
                    Vous avez jusqu'au {{.Defi_actuel.Date_fin}} pour le rendre.</p>
                {{end}}
            </div>

            <div id="file">
                <form enctype="multipart/form-data" action="/pageEtudiant?upload" method="post">
                    <div class="chose-file">
                        <label for="input-file">
                            <img src="./web/assets/images/upload.png">
                            <p>Choisir un fichier</p>

                        </label>
                        <input type="file" name="script_etu" id="input-file" required="required"/>
                    </div>
                    <input class="button" type="submit" id="upload" value="Upload"/>
                </form>
            </div>
        </div>
        <div class="right-side">
            <a class="twitter-timeline" data-width="450" margin-left:300 data-height="325" href="https://twitter.com/IutAsr?ref_src=twsrc%5Etfw">Tweets by IutAsr</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>


    <a href="/pageEtudiant?test" id="test-script">
        <img src="./web/assets/images/play-triangle.png">
        <p>Tester son script</p>
    </a>

    <div class="res">
        <p id="ligne-commande"><span class="green-text"></span></p>
        <h1 id="message-res" class="">{{.Msg_res}}</h1>
        <div class="res-test">
            {{range .ResTest}}
                <p>Test {{.CasTest.Nom}} :
                {{if eq .Etat 1}}
                    <span class="win-text">Vous avez réussi ce test</span>
                    <img src="./web/assets/images/green-light.png">
                {{else if eq .Etat 0}}
                    <span class="fail-text">Vous avez échoué ce test</span>
                    <img src="./web/assets/images/red-light.png">
                {{else if eq .Etat -1}}
                    <span class="error-text">Il y a eu une erreur durant ce test</span>
                    <img src="./web/assets/images/yellow-light.png">
                {{end}}</p>
            <div class="res-output">
                <div class="res-individuel box-gauche">
                    <div class="title-res box-gauche">
                        <p>Résultat de la correction</p>
                    </div>
                    {{range .Res_correction}}
                        <p> - {{.Nom}} contient : </p>
                        <p>{{.Contenu}}</p>
                    {{end}}
                </div>
                <div class="res-individuel box-droite">
                    <div class="title-res box-droite">
                        <p>Résultat de votre script</p>
                    </div>
                    {{range .Res_etu}}
                        <p> - {{.Nom}} contient</p>
                        <p>{{.Contenu}}</p>
                    {{end}}
                    {{.Error_message}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
</div>
<div id="footer">
    <p>Projet réalisé sous l'initiative de Loïg Jezequel</p>
    <p><a href="https://gitlab.univ-nantes.fr/E192543L/projet-s3/">
        <img src="./web/assets/images/gitlab-logo.png">
        GitLab du projet
    </a></p>
</div>
<script src="./web/assets/js/pageEtudiant.js"></script>
</body>
</html>