<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profil Étudiant | {{.UserInfo.Login}}</title>
    <link rel="stylesheet" href="./web/assets/css/pageEtudiant.css">
    <link rel="icon" type="image/png" href="./web/assets/images/logo.png" />
</head>
<body>
<div id="header">
    <h1>Page Etudiant</h1>
    <div id="logout">
        <a href="pageEtudiant?logout">Logout</a>
    </div>
</div>
<div class="main">
    <div id="user">
        <h2>Profil</h2>
        <p>{{.UserInfo.Prenom}} {{.UserInfo.Nom}} (<span id="id-etu">{{.UserInfo.Login}}</span>)<br>
        Mot de passe : {{.UserInfo.Password}}
        </p>
        <p class="italic">{{.UserInfo.Mail}}</p>
    </div>
    <div id="content">
    {{if eq .Defi_actuel.Num -1}}
        <h2>Il n'y a pas défi en cours.</h2>
    {{else}}
        <h2>Défi actuel : Défi n°{{.Defi_actuel.Num}}</h2>
        {{if .Defi_sent}}
            <p>Vous avez déjà rendu un script pour ce défi.</p>
            {{if eq .Resultat_defi.Etat 1}}
                <p>Votre script est correct.</p>
            {{else}}
                <p>Votre script est incorrect.</p>
            {{end}}
            <p>Vous pouvez le modifier jusqu'au {{.Defi_actuel.Date_fin}}.</p>
        {{else}}
            <p>Vous n'avez pas encore envoyé de script pour ce défi. <br>
                Vous avez jusqu'au {{.Defi_actuel.Date_fin}} pour le rendre.</p>
        {{end}}
    </div>

    <div id="file">
        <form enctype="multipart/form-data" action="/pageEtudiant?upload" method="post">
            <div class="chose-file">
                <img src="./web/assets/images/upload.png">
                <label for="input-file">Choisir un fichier</label>
                <input type="hidden" name="token" value=" " />
                <input type="file" name="script_etu" id="input-file" required="required"/>
            </div>
            <input type="submit" id="upload" value="Upload"/>
        </form>
    </div>

    <a href="/pageEtudiant?test" id="test-script">
        <img src="./web/assets/images/play-triangle.png">
        <p>Tester son script</p>
    </a>

    <div class="res">
        <p id="ligne-commande"></p>
        <h1 id="message-res" class="">{{.Msg_res}}</h1>
        <div id="res-test">
            {{range .ResTest}}
                <p>Test {{.Test}} :
                {{if eq .Etat 1}}
                    <span class="win-text">Vous avez réussi ce test</span>
                {{else if eq .Etat 0}}
                    <span class="fail-text">Vous avez échoué ce test</span>
                {{else if eq .Etat -1}}
                    <span class="error-text">Il y a eu une erreur durant ce test</span>
                {{end}}</p>
            <div id="res-correction">
                <p>Résultat de la correction</p>
                {{range .Res_correction}}
                    {{.Nom}} contient <br>
                    {{.Contenu}}
                {{end}}<br>
            </div>
            <div id="res-etu">
                <p>Résultat de votre script</p>
                {{range .Res_etu}}
                    {{.}}<br>
                {{end}}<br>
                {{.Error_message}}
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
</div>
<script src="./web/assets/js/pageEtudiant.js"></script>
</body>
</html>