<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Étudiant</title>
    <link rel="stylesheet" href="/web/css/pageAdmin.css">
</head>
<body>
<h1>Page admin</h1>
<h2>Formulaire pour upload des défis : </h2>
{{if eq .Defi_actuel.Num -1}} Il n'y a pas de défi en cours
{{else}}
    Défi actuel : défi n°{{.Defi_actuel.Num}}<br>
    Il a commencé le {{.Defi_actuel.Date_debut}}
    et se termine le {{.Defi_actuel.Date_fin}}
{{end}}
<br>
<br>

Formumaire pour modifier uniquement la date :
<br>
<form action="/pageAdmin?form=modify_date" method="post">
    Format date : "JJ-MM-YYYY" <br>
    Date de début : <input type="text" name="date_debut" value="{{.Defi_actuel.Date_debut}}"> <br>
    Date de fin : <input type="text" name="date_fin" value="{{.Defi_actuel.Date_fin}}"> <br>
    <input type="submit">
</form>
<br>
Formulaire pour enregistrer un défis avec sa correction, sa date de début et de fin. Il peut aussi servir à modifier la correction du défi actuel.
<form   enctype="multipart/form-data"  action="/pageAdmin?form=defi" method="post">
    Dépot de la correction : <input type="file" name="defi"><br>
    Format date : "JJ-MM-YYYY" <br>
    Date de début : <input type="text" name="date_debut" value="{{.Defi_actuel.Date_debut}}"> <br>
    Date de fin : <input type="text" name="date_fin" value="{{.Defi_actuel.Date_fin}}"> <br>
    <input type="submit" value="déposer" name="submit"/>
    <input type="submit" value="modifier" name="submit"/>
</form>

<h2>Formulaire pour upload des tests : </h2>
<form enctype="multipart/form-data" action="/pageAdmin?form=test" method="post">
    Dépot du test : <input type="file" name="test">
    <input type="submit" value="déposer" name="submit">
</form>

Liste des étudiants :
<div id="etudiants">
    {{range .Etudiants}}
        <a href="pageAdmin?Etudiant={{.Login}}">{{.Login}}</a>
    {{end}}
    <br>
    <a href="pageAdmin">désélectionner</a>
</div>
Info de l'étudiant :
<div id="etudiant">
    {{range .Res_etu}}
        Defi n°{{.Defi}}
        Etat :  {{if eq .Etat 1}}
                Réussi
                {{else if eq .Etat 0}}
                Échoué
                {{end}}
        Nombre de tentative : {{.Tentative}}
        <a href="pageAdmin?Etudiant={{$.Etu_select}}&Script={{.Defi}}"> Afficher le script</a>
        <a href="pageAdmin?Etudiant={{$.Etu_select}}&Script={{.Defi}}&Etat={{.Etat}}"> Modifier l'état de la partie</a>
    <br>
    {{end}}
</div>
Affichage du script :
<div id="file">
    {{range .File}}
        {{.}} <br>
    {{end}}
</div>

</body>
</html>